// Slider ----->
.swiper-button-prev, .swiper-button-next {
  color: #ff8903 !important;
}

.swiper-lazy-preloader {
  border-color: #ff8903 !important;
  border-top-color: transparent !important;
}
// Slider <-----

// Header ----->

.t451m {
  .t-menu__link-item {
    font-weight: 600 !important;
  }
  .t451m__right_descr {
    font-size: 14px !important;
    font-weight: 600 !important;
  }
}

// <----- Header

// Footer ----->
#rec116129386 {

  @media (max-width: 988px) {
    .t447__title {
      font-size: 22px;
    }

    .t447__descr a {
      font-size: 18px;
    }

    .t447__blockinput {
      display: inline-block;
      width: 70%;
    }

    .t447__blockbutton {
      width: 20%;
      display: inline-block;
      position: relative;
      bottom: 7px;
    }

    .t447__text {
      margin-top: 0;
    }
  }

}
// Footer <-----
