.t-rec_pt_105 {
  padding-top: 50px !important;
  padding-bottom: 0 !important;
}

.t-rec_pb_75 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.tn-elem__1242254041566832334503 {
  width: 100% !important;
  padding-top: 50px !important;
  position: initial !important;
}

.t106 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
